@use "mixins";
@use "variables";

.tv-cursor-pointer {
  cursor: pointer;
}

.tv-radius-none-bl {
  border-bottom-left-radius: 0!important
}

.tv-radius-none-br {
  border-bottom-right-radius: 0!important;
}
